#### To build wheel archives (pip wheel --requirement=pip-req.txt --wheel-dir=/tmp/wheelhouse)  or to run pip install --upgrade --requirement=pip-req.txt  #### Install - sudo apt-get install python-dev libffi-dev libssl-dev libxml2-dev libxslt1-dev libjpeg-dev libfreetype6-dev zlib1g-dev libldap2-dev libsasl2-dev libpq-dev build-essential autoconf libtool pkg-config

argparse
argon2_cffi
authy
Babel
beautifulsoup4
cffi
cryptography
decorator
dnspython
docutils
dwollaswagger
dwollav2
ebaysdk
feedparser
firebase-admin
flanker
gdata
genshi
GeoIP
gevent
graphviz
greenlet
html2text
j2cli
jcconv
Jinja2
jsonschema
lxml
Mako
MarkupSafe
mock
numpy
num2words
ofxparse
passlib
Pillow
psutil
psycogreen
psycopg2
PyChart
pycrypto
pydot
pyinotify
pyjon.utils
PyJWT
pyldap
pyopenssl
pyparsing
pyPdf
pyserial
python_dateutil
python_ldap
python_openid
pytz
pyusb
pywebdav
PyYAML
qrcode
reportlab
requests
requests_futures
requests_oauthlib
requests_pkcs12
simplejson
six
SOAPpy
stripe
suds==1.0.0
twilio
unittest2
vatnumber
vobject
Werkzeug
wit
wsgiref
xlrd
xlsxwriter
xlwt
xmltodict
